In [3]:
import os
import pandas as pd

In [13]:
os.makedirs("../data", exist_ok=True)
!wget -qO ../data/customer_demographics.csv "https://assets.datacamp.com/production/repositories/1646/datasets/c3a701a4729471ae0b92d8c300b470fd2ec0a73a/user_demographics_v1.csv"
!wget -qO ../data/customer_subscriptions.csv "https://assets.datacamp.com/production/repositories/1646/datasets/5decd183ef3710475958bbc903160fd6354379d5/purchase_data_v1.csv"

In [6]:
# Load customer_demographics
customer_demographics = pd.read_csv('../data/customer_demographics.csv')
# Print the head of customer_demographics
customer_demographics.head()

          uid              reg_date device gender country  age
0  54030035.0  2017-06-29T00:00:00Z    and      M     USA   19
1  72574201.0  2018-03-05T00:00:00Z    iOS      F     TUR   22
2  64187558.0  2016-02-07T00:00:00Z    iOS      M     USA   16
3  92513925.0  2017-05-25T00:00:00Z    and      M     BRA   41
4  99231338.0  2017-03-26T00:00:00Z    iOS      M     FRA   59

In [14]:
# Load customer_subscriptions
customer_subscriptions = pd.read_csv('../data/customer_subscriptions.csv')
# Print the head of customer_subscriptions
customer_subscriptions.head()

         date       uid            sku  price
0  2017-07-10  41195147  sku_three_499    499
1  2017-07-15  41195147  sku_three_499    499
2  2017-11-12  41195147   sku_four_599    599
3  2017-09-26  91591874    sku_two_299    299
4  2017-12-01  91591874   sku_four_599    599